//-
  LAYOUT Y CONTENIDO ///////////////////////////////
  //////////////////////////////////////////////////
  //////////////////////////////////////////////////

//-
  LAYOUT Y CONTENIDO ///////////////////////////////
  //////////////////////////////////////////////////
  //////////////////////////////////////////////////
doctype
html
  link(rel='stylesheet', href='css/main.css')
  meta(charset="UTF-8")
  body
